/* Try different box model properties below */
.site-header__title + p {
  color: white;
}

.messages {
  margin-bottom: 100px;
}
.site-footer {
  font-size: 12px;
  text-align: center;
}
.site-footer > p:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
