/* Add your CSS code below */
.message a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.messagetime {
  font-size: 0.9rem;
}

.message--unread {
  border-left: 2px solid blue;
}

.messagetime--old {
  opacity: 0.4;
}

.message {
  line-height: 30px;
}
